.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;
}

.first_componet {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 22px;

  .title {
    font-size: 36px;
    line-height: 1.3em;
    font-weight: 700 !important;
    font-family: Times New Roman, Times, serif;
  }

  .list_container {
    padding-left: 25px;
    list-style: disc;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .list_item {
      color: #84626a;
      font-size: 18px;
      line-height: 28px;
      font-family: Times New Roman, Times, serif;
      list-style: disc;

      &::marker {
        color: #eaa401;
      }
    }
  }

  .btn {
    color: #fafafa;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 1.2em;
    background: linear-gradient(90deg, #caa539, #ffcd07);
    border-radius: 12px;
    transition: 0.3s;
    text-decoration: none;
    border: none;
    display: block;
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    color: #4c011d;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    cursor: pointer;

    &:hover {
      box-shadow: 0 4px 10px 0 rgba(240, 196, 66, 0.5019607843),
        inset 4px 4px 10px 0 #ffe26d;
    }
  }
}

.secnd_componet {
  width: calc(50% - 30px);
  padding: 32px;
  background: linear-gradient(90deg, #87263e, #4c011d 105.8%);
  gap: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .text_container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .first_text_container {
      display: flex;
      align-items: center;
      gap: 7px;

      .icon {
        width: 40px;
        height: 40px;
        font-size: 40px;
        color: #ffbd23;
      }
      .icon_text {
        font-size: 30px;
        line-height: 36px;
        color: #fafafa;
        margin-bottom: 4px;
        font-weight: 700;
      }
    }
  }

  .magin_text {
    color: #fafafa;
    font-size: 18px;
    line-height: 28px;
    margin-left: 45px;
  }
}
